{% extends "base.html" %}

{% block vsebina %}

<br>
<br>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Dobrodošli!</h1>
    <p class="lead">Lore ipsum dolor sit amet, cu impedit maiestatis sit.</p>
  </div>
</div>

<br>

<h2 class="text-center">Moji projekti</h2>
<hr>
<br>
<!-- Moji projekti -->
    <div class="container" id="services">
        <div class="row">
            <div class="col-md-4">
                <h4>O meni</h4>
                <a href="/omeni">
                    <img src="https://i.imgur.com/eZesITX.jpg" alt="O meni" style="width: 20rem;">
                </a>
            </div>

            <div class="col-md-4">
                <h4>BMI kalkulator</h4>
                <a href="/bmi">
                    <img src="https://i.imgur.com/fMebtja.jpg" alt="BMI kalkulator" style="width: 20rem;">
                </a>
            </div>

            <div class="col-md-4">
                <h4>Kalkulator</h4>
                <a href="/kalkulator">
                    <img src="https://i.imgur.com/Z2QCLE6.jpg" alt="Kalkulator" style="width: 20rem;">
                </a>
            </div></div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h4>Future project</h4>
                <a href="#">
                    <img src="https://i.imgur.com/Nlgt1IL.jpg" alt="Under construction" style="width: 20rem;">
                </a>
            </div>

            <div class="col-md-4">
                <h4>Future project</h4>
                <a href="#">
                    <img src="https://i.imgur.com/Nlgt1IL.jpg" alt="Under construction" style="width: 20rem;">
                </a>
            </div>

            <div class="col-md-4">
                <h4>Future project</h4>
                <a href="#">
                    <img src="https://i.imgur.com/Nlgt1IL.jpg" alt="Under construction" style="width: 20rem;">
                </a>
            </div>
        </div>


    </div>
    <!-- END Moji projekti -->


{% endblock vsebina %}
