{% extends "base.html" %}

{% block vsebina %}

<br>
<br>

<div class="container">
    <h1 class="text-center">O meni</h1>

    <br>

    <p>
        Lorem ipsum dolor sit amet, cu impedit maiestatis sit. An vim nulla ornatus. Duo in epicuri pertinax, pri ut admodum molestie necessitatibus.
        Ea quodsi appareat nam, est justo lobortis ea. Duo consul vocent ei, tamquam torquatos an nec.
    </p>

    <p>
        At eirmod dignissim vix, ne nec vitae denique, per et aliquip voluptatibus. An sit postea signiferumque, ut sit mutat temporibus, nec in alia
        quaeque. Est an delectus principes. Ut pro graecis deleniti dissentias, per ut erat omnesque voluptatum.
    </p>

    <p>
        Ad latine eloquentiam has, denique pericula inciderint no sit. Sed id adipisci adolescens, ex qui diam exerci. Ius quaeque percipitur in. Invidunt
        laboramus voluptatibus te vis, usu an labore prompta comprehensam, ex aliquip molestie omittantur vis.
    </p>

    <p>
        Vim eu odio accusamus. Falli option deleniti ius ei, pri stet sapientem interesset eu. Purto expetendis ne sea. Labore consetetur et sed, his
        delenit alienum accusata no. Vim populo habemus id.
    </p>

    <p>
        Mei in sumo mentitum gloriatur. Dicta harum lobortis eam id, per summo pericula partiendo te, pro ea elit posse verterem. Nam homero iriure ut.
        Et justo fabellas eos, ius brute molestiae interesset te, cu tantas detraxit complectitur nam. Tollit nominavi voluptua est eu, inani salutatus
        dissentias cu eam. Prompta argumentum an vim, ea scaevola sensibus cum, pri illud exerci euripidis ea.
    </p>

    <p>
        Congue laoreet an eos, ius te rebum feugait. Suavitate persecuti mel at, soluta denique ea mei. Harum nobis duo ex, ei unum commodo ius. Timeam
        sapientem cu mei, mel sonet instructior suscipiantur ad. Eos cibo facilisis ea.
    </p>

    <p>
        Veniam consul alienum ad per, his no eligendi corrumpit, an mea agam menandri. Quodsi quaerendum consectetuer quo te. Nam dolor dicunt alterum
        ut, summo iusto explicari ad sed. Timeam salutatus efficiantur per ut, nec soluta graecis ne.
    </p>
    <p>
        Cu impedit dolorem fuisset pri, est iusto utamur te. Graece facete ea eam, viris quaestio eu nec. Eam et quod exerci pertinacia. Ius ei iusto
        quaerendum, constituam dissentiunt ne has, molestie imperdiet ut per. Sea timeam maiestatis id, ei eum molestie laboramus. Quo at disputando
        signiferumque.
    </p>
    <p>
        Sea cu menandri vituperatoribus, enim dolore repudiandae no nec. In agam audiam argumentum his. Sit ex odio eruditi delicata, sea an sint
        imperdiet consequat. In nam assum tritani delenit, cu salutandi referrentur usu. Natum mnesarchum pri an, duo atqui utamur ad. Mea ad nullam
        libris, ne usu equidem liberavisse.
    </p>

    <p>
        Sed decore fabulas efficiantur ea, an eos aliquip nusquam. Consul officiis signiferumque cu per, est ut porro oratio, id vis regione facilis
        sapientem. Vim ferri instructior no, sed omnes audiam salutatus in. Mei ex aliquam gubergren interesset, cu qui probo brute. Ut quo utinam vivendo
        adipisci, at singulis accommodare pri.
    </p>

</div>

{% endblock vsebina %}